@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0; /* Remove margens do body */
  height: 100vh; /* Garante que o body ocupe a altura total da viewport */
  display: flex; /* Define o layout como flex */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  background-color: #e3f6e6; /* Cor de fundo leve */
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-box {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espaçamento entre os elementos */
  padding: 40px; /* Aumenta o padding interno */
  border-radius: 15px; /* Aumenta o arredondamento dos cantos */
  background-color: #C9D9C8;
  width: 100%; /* Ajusta a largura para ocupar 100% do container */
  max-width: 400px; /* Largura máxima do formulário */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
}

h1 {
  text-align: center; /* Centraliza o título */
  font-family: "Poppins", sans-serif;
  font-size: 24px; /* Aumenta o tamanho da fonte */
  color: #6F925F; /* Define a cor do título */
}

form {
  display: block;
  flex-direction: column;
  gap: 20px; /* Mantém o espaço entre os inputs */
  align-items: center; /* Centraliza os itens do formulário */
}

input {
  width: 250px; /* Define a largura dos inputs */
  border: 1px solid #6F925F;
  border-radius: 30px; /* Aumenta o arredondamento dos inputs */
  height: 50px; /* Aumenta a altura dos inputs */
  margin: 5px;
  background-color: #FFFFFF;
  color: #152D10;
  font-size: 16px;
  padding: 0 15px; /* Aumenta o padding lateral */
  outline: none;
}

button {
  border-radius: 30px;
  background-color: #6F925F;
  width: 250px; /* Mantém a largura do botão */
  height: 50px; /* Aumenta a altura do botão */
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  font-size: 16px; /* Aumenta o tamanho da fonte do botão */
  margin-top: 10px; /* Espaçamento acima do botão */
}

button:hover {
  opacity: 0.8;
}
